<section class="w3l-join py-5" id="join">
    <div class="container py-md-5 py-3">
        <div class="row">
            <div class="col-lg-7 video-info pe-lg-5">
                <div class="title-content">
                    <h6 class="w3l-title-small two">Temasta Kalın</h6>
                    <h3 class="w3l-title-main two mb-3">Projeye başlayalım mı?Beni takipte kalın...</h3>
                    <p class="pe-lg-5">Takipte kalın Projelerimizi beraber geliştirelim.</p>

                </div>
            </div>
            <div class="col-lg-5 history-info align-self">
                <div class="w3banner-content-btns d-sm-flex justify-content-lg-end">
                    <a href="/Contact/SendMessage/" class="btn btn-style btn-primary mt-lg-5 mt-4 me-sm-3">Beni işe al </a>
                    <a href="/Contact/SendMessage/" class="btn btn-style transparent-btn mt-lg-5 mt-4 me-2">Benimle irtibata geçin </a>
                </div>
            </div>
        </div>
    </div>
</section>
