@model ResumeProject.Models.TblSkill

@{
    ViewBag.Title = "UptadeSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yetenek Güncelleme Sayfası</h2>
<form method="post">
    <label>Yetenek Id</label>
    @Html.TextBoxFor(x => x.SkillID,new {@class="form-control" })
    <br />
    <label>Yetenek Başlığı</label>
    @Html.TextBoxFor(x => x.SkillTitle, new { @class = "form-control" })
    <br />
    <label>Yetenek İkonu</label>
    @Html.TextBoxFor(x => x.Skillicon, new { @class = "form-control" })
    <br />
    <label>Yetenek Açıklama</label>
    @Html.TextBoxFor(x => x.SkillDescription, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Yeteneği Güncelle</button>

</form>

