@model ResumeProject.Models.TblProject
@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Proje Ekleme Listesi</h2>
<br />
@using (Html.BeginForm("AddProject", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<form method="post">
    <label>Proje Title</label>
    @Html.TextBoxFor(x => x.ProjectTitle, new { @class = "form-control" })
    <br />
    <label>Proje Açıklama</label>
    @Html.TextBoxFor(x => x.ProjectDescription, new { @class = "form-control" })
    <br />
    <label>Proje Imaje</label>
    @Html.TextBoxFor(x => x.ProjectImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Projeyi Kaydet</button>

</form>


}


