<footer class="text-center">
    <div class="footer py-5">
        <div class="container py-md-4">
            <div clss="footer-logo">
                <a class="logo" href="index.html">
                    <i class="fab fa-asymmetrik"></i> UI Portfolio
                </a>
            </div>
            <div class="footer-contact-info mt-4">
                <ul>
                    <li>
                        <a href="tel:+12 345 678 900" class="contact-text-sub">
                            <span class="fas fa-phone me-2"></span>+12 345 678 900
                        </a>
                    </li>
                    <li>
                        <a href="mailto:info@example.com" class="contact-text-sub">
                            <span class="fas fa-envelope me-2"></span>info@example.com
                        </a>
                    </li>
                    <li>
                        <p class="contact-text-sub">
                            <span class="fas fa-map-marker me-2"></span>208 Avenue street, UK - 62617.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container py-4">
        <div class="row footer-grids">
            <div class="col-lg-6 copyright text-lg-start text-center align-center">
                <p>© @DateTime.Now.Year UI Portfolio. All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts</a> </p>
            </div>
            <div class="col-lg-6 text-lg-end text-center mt-lg-0 mt-4">
                <div class="social">
                    <ul>
                        <li><a href="#url"><span class="fab me-2 fa-facebook-f"></span></a></li>
                        <li><a href="#url"><span class="fab me-2 fa-twitter"></span></a></li>
                        <li><a href="#url"><span class="fab me-2 fa-google-plus"></span></a></li>
                        <li><a href="#url"><span class="fab me-2 fa-pinterest"></span></a></li>
                        <li><a href="#url"><span class="fab me-2 fa-vk"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
